<mat-toolbar>
  <button mat-icon-button>
    <a [routerLink]=" ['./home'] "
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
    </a>
  </button>
  <a *ngIf="isToken()" [routerLink]=" ['./dashboard'] "
     routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    dashboard
  </a>
  <a *ngIf="isToken()" (click)="logout()">
    logout
  </a>

  <span class="header-remaining-space"></span>

  <button mat-icon-button>
    <mat-icon class="header-icon">search</mat-icon>
  </button>

  <span class="header-icon">Truck's and tricks </span>
</mat-toolbar>


<main>
  <div>
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">

</footer>
