<nav>
  <mat-toolbar>

    <button mat-icon-button [routerLink]=" ['./home'] "
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isToken()" [routerLink]=" ['./dashboard'] "
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>dashboard</mat-icon>
    </button>


    <button *ngIf="isToken()" (click)="logout()">
      Logout
    </button>

    <span class="header-remaining-space"></span>

    <button mat-icon-button>
      <mat-icon class="header-icon">search</mat-icon>
    </button>

    <span class="header-icon">Truck's and tricks </span>
  </mat-toolbar>
</nav>

<main>
  <div>
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">

</footer>
