
button.active {
  background-color: #d5d5d5;
}
a{
  text-decoration: none;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-remaining-space {
  flex: 1 1 auto;
}

.header-icon {
  padding: 0 14px;
}
