<div class="container-fluid margin-top-2">
  <div class="row">

    <div class="col-md-3">
      <div class="row MY_CLASS_FOR_UNDERSTANDING">

      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron shadow MY_CLASS_FOR_UNDERSTANDING" *ngFor="let item of truckList">
        <h4>Truck with licence plate <b>{{item.licencePlate}}</b> info:</h4>
        <hr>
        <p>Email: <b>{{item.email}}</b></p>
        <p>Name: <b>{{item.firstName}} {{item.lastName}}</b></p>
        <p>Phone: <b>{{item.phone}}</b></p>
        <hr class="my-4">

        <div class="row">

          <div class="card text-white bg-info mb-3 mr-1 col-md-5" *ngFor="let shipment of item.shipments">
            <div class="card-header">{{shipment.title}}</div>
            <div class="card-body">
              <p class="card-text">{{shipment.address}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-md-3">
      <div class="row">
        <div class="card text-white bg-warning mb-3 mr-1 col-md-5 shadow MY_CLASS_FOR_UNDERSTANDING"
             *ngFor="let shipment of unassignedShipmentList">
          <div class="card-header">
            {{shipment.title}}
          </div>
          <div class="card-body">
            <p class="card-text">
              {{shipment.address}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
