@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "styles/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.margin-top-10 {
  margin-top: 10%;
}

.margin-top-5 {
  margin-top: 5%;
}

.margin-top-2 {
  margin-top: 2%;
}

.MY_CLASS_FOR_UNDERSTANDING {
  border: 2px black solid;
}
