@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "styles/css/bootstrap.min.css";
@import "~dragula/dist/dragula.min.css";


/*-----------------------Start of my custom style for development-------------------------------------*/
.MY_CLASS_FOR_UNDERSTANDING {
  border: 2px black solid;
}
/*-----------------------Finish of my custom style for development-------------------------------------*/

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.margin-top-10 {
  margin-top: 10%;
}

.margin-top-5 {
  margin-top: 5%;
}

.margin-top-2 {
  margin-top: 2%;
}

a {
  font-weight: bold;
}
