<form>
  <div>{{error | json}}</div>
  <div class="group">

    <mat-form-field>
      <input matInput placeholder="Enter email"
             type="email"
             [(ngModel)]="login"
             name="login">
      <span class="highlight"></span>
    </mat-form-field>
  </div>

  <div class="group">

    <mat-form-field>
      <input matInput placeholder="Password" type="password"
             [(ngModel)]="password"
             name="password">
      <span class="highlight"></span>
    </mat-form-field>

  </div>

  <button type="submit" class="button buttonBlue"
          (click)="onSubmit()">Submit
    <div class="ripples buttonRipples">
      <span class="ripplesCircle"></span>
    </div>
  </button>

</form>
